@media screen and (max-width:1200px) {
    .container {
        max-width: 100vw;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 100vw;
    }
}

@media screen and (max-width:480px) {

    .row {
        flex-direction: column;
        align-items: center;
    }

    .lessons .col,
    .steps .col,
    .why-us .col {
        width: 100%;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        background-color: black;
        padding-top: 3rem;
        margin-bottom: 0;
    }
}