@media screen and (max-width:768px) {
    .container {
        max-width: 100vw;
    }
}

@media screen and (max-width:480px) {

    .row {
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
    }

    .steps {
        margin-bottom: 0;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }

    .why-us {
        background-color: black;
        padding-top: 3rem;
    }
}